@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Press+Start+2P&display=swap');

body {
    background-image: url(../img/sherekuda.jpg);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

* {
    cursor: url(../img/cursor.cur), default;
    margin: 0;
}

nav {
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    top: 21.7vw;
}

h1 {
    font-size: 4.8vw;
}

h1:hover {
    font-size: 5.15vw;
}

h1, h2, a {
    font-family: 'Press Start 2P', cursive;
    cursor: url(../img/maozinha.gif), auto;
    transition: all 1s ease;
}

h2 {
    font-size: 3.25vw;
}

h2:hover {
    font-size: 3.5vw;
}

.colorido {
    background: -webkit-linear-gradient(#FFF500, #FF5D02);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    text-decoration: none;
}

.kd {
    opacity: 0;
    cursor: url(../img/cursor.cur), default;
}