@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Press+Start+2P&display=swap');

body {
    background-image: url(../img/background.jpg);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

* {
    cursor: url(../img/cursor.cur), default;
    margin: 0;
}

nav {
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    text-align: center;
    top: 21.7vw;
}

h1 {
    font-size: 4.8vw;
}

h1:hover {
    font-size: 5.15vw;
}

h1, h2 {
    position: relative;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    transition: all 1s ease;
    cursor: url(../img/shrelekt.ani);
}

h2 {
    font-size: 3.25vw;
}

h2:hover {
    font-size: 3.5vw;
}

.colorido {
    background: -webkit-linear-gradient(#FFF500, #FF5D02);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kd {
    opacity: 0;
    cursor: url(../img/cursor.cur), default;
}
