body {
    background-image: url(../img/sherekuda.jpg);
    background-position: top right;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

section {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

section>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(48, 74, 39, 0.89);
    width: 20vw;
    height: 20vw;
    padding: 2vw;
    border-radius: 1vw;
}

section>div form {
    display: flex;
    flex-direction: column;
}

section>div input {
    margin-top: 0.5vw;
    background-color: rgb(71, 116, 57);
    border: none;
    outline: none;
    height: 2.25vw;
    border-radius: 0.5vw;
    padding-left: 0.5vw;
}

section>div input::placeholder {
    color: black;
}

#logo {
    width: 4.8vw;
}

form [type="submit"] {
    display: block;
    background-color: rgb(109, 223, 75);
    font-size: 1vw;
    font-weight: bold;
    cursor: url(../../img/maozinha.gif), auto;
}

a {
    color: rgb(109, 223, 75);
    text-decoration: none;
    cursor: url(../../img/maozinha.gif), auto;
}

a:visited {
    color: rgb(88, 167, 64);
}

#avatar {
    text-align: center;
    padding-top: 1vw;
}

ul {
    display: flex;
}

.avatars {
    list-style: none;
    margin: 0;
    padding: 0;
}

.avatars:after {
    content: "";
    clear: both;
}

.avatar {
    box-sizing: border-box;
    float: left;
    height: 4vw;
    width: 4vw;
    position: relative;
    margin-top: 1vw;
}

.avatar+.avatar {
    margin-left: 1.25vw;
}

.avatar label {
    background: #fff no-repeat center center;
    border-radius: 50%;
    bottom: 1px;
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 1px;
    position: absolute;
    right: 1px;
    text-indent: 100%;
    top: 1px;
    white-space: nowrap;
}

.fiona label {
    background-image: url(../img/avatar1.jpg);
    background-size: cover;
}

.shrek label {
    background-image: url(../img/avatar2.jpg);
    background-size: cover;
}

.burro label {
    background-image: url(../img/avatar3.jpg);
    background-size: cover;
}

.gato label {
    background-image: url(../img/avatar4.jpg);
    background-size: cover;
}