* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    cursor: url(../../img/cursor.cur), default;
}

body {
    height: 100vh;
    display: flex;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/sherekuda.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

header {
    position: absolute;
    top: 0;
    width: 100vw;
    font-size: 1vw;
    background-color: rgba(48, 74, 39, 0.89);
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header li {
    width: 23%;
    text-align: center;
}

header li * {
    height: 3.26vw;
    box-sizing: border-box;
    color: white;
}

header li button, header li select {
    width: 100%;
    background-color: rgba(48, 74, 39, 0.89);
    border: none;
    outline: none;
    text-align: center;
    font-size: 1vw;
}

header li:hover, header li select:hover, header li button:hover {
    background-color: rgba(71, 116, 57, 0.89);
}

header li p {
    display: inline-flex;
    align-items: center;
}

.tryagain {
    outline: 1px red solid;
}

.rank {
    position: absolute;
    left: 1vw;
    top: 4.26vw;
    text-align: center;
    background-color: rgba(48, 74, 39, 0.89);
    color: white;
    border-radius: 2vw;
    padding: 1vw;
    box-sizing: border-box;
    width: 23%;
}

.rank *:not(li ul li img) {
    padding-bottom: 1vw;
}

.rank ul {
    list-style: none;
}

li ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    height: 5vw;
    width: 100%;
    gap: 0.78vw;
}

li ul li {
    aspect-ratio: 1/1;
    height: 100%;
}

li ul li img {
    aspect-ratio: 1/1;
    width: 70%;
    border-radius: 50%;

}

.rank p {
    font-weight: bold;
    font-size: 1.5vw;
}

.center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sumiu {
    display: none;
}
