@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Press+Start+2P&display=swap');

body {
    background-image: url(../img/sherekuda.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

* {
    cursor: url(../img/cursor.cur), default;
    margin: 0;
}

h1 {
    font-size: 4.8vw;
    padding: 2vw 0;
    font-family: 'Press Start 2P', cursive;
    background: -webkit-linear-gradient(#FFF500, #FF5D02);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
    text-decoration: none;
}

section:not(#texto) {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    right: 4vw;
}

figure img {
    position: absolute;
    border-radius: 50%;
    transition: opacity 500ms;
    width: 9.1vw;
    z-index: 2;
}

figure img:not([alt*="Foto"]) {
    z-index: 1;
}

figure:hover img, figure img:not([alt*="Foto"]) {
    opacity: 0;
}

figure:hover img:not([alt*="Foto"]) {
    opacity: 1;
}

#texto {
    margin: 11.1vw;
    background-color: #ffffff7e;
    padding: 1vw;
    border-radius: 2vw;
}

p {
    text-align: justify;
    font-size: 1.4vw;
    font-family: Arial, Helvetica, sans-serif;
}
